body {
  background-color: #1a1a1a;
}

/* NAVBAR */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 10;
}

.nav-left .logo {
  color: white;
  font-size: 35px;
  font-weight: normal;
  font-family: 'Times New Roman', serif;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-top: 10px;
}

.nav-center li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: color 0.3s ease;
  font-family: 'Times New Roman', serif;
}

.nav-center li a:hover {
  color: #ddd;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-right a {
  text-decoration: none;
  color: white;
  font-size: 25px; 
  margin-top: -15px;
}

.icon {
  width: 22px;
  height: 22px;
  filter: brightness(0) invert(1); 
}

.nav-left a {
  text-decoration: none;
  color: inherit; 
}

/* HERO */

/* ==== ESTILOS DEL CARRITO ==== */

.nav-right span {
  color: white;
  margin-top: 10px;
  margin-left: -10px;
}

.carrito {
  color: white;
  padding: 40px 10%;
  min-height: 10vh;
  margin-top: 150px;
}

.carrito h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.producto-carrito {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #333;
  padding: 20px 0;
}

.producto-carrito img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.producto-carrito h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.producto-carrito p {
  font-size: 0.9rem;
  color: #bbb;
}

.producto-carrito > div:nth-child(3),
.producto-carrito > div:nth-child(4) {
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 1.2rem;
}

.total span:first-child {
  margin-right: 10px;
  color: #bbb;
}

.pagar {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 1rem;
  background-color: #ddd;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.pagar:hover {
  background-color: #ccc;
}


/* FOOTER */
.footer {
  background-color: #121212;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  flex-wrap: wrap;
  font-family: 'Times New Roman', serif;
}

.footer-left h3 {
  font-size: 35px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.footer-left a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 50px;
}

.footer-social {
  margin-top: 15px;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  color: white;
  font-size: 20px; 
  margin-right: 18px;
  transition: color 0.3s ease;
  padding-left: -10px;
}

.social-icons a:hover {
  color: #ccc;
}

.footer-right {
  display: flex;
  gap: 60px;
  margin-right: 50px;
  margin-top: 30px;
}

.footer-right a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
  line-height: 1.8;
}

.footer-right a:hover,
.footer-left a:hover {
  opacity: 0.7;
}

