.bi-cloudy-fill {
    width: 75px;
    height: 75px;
}

/*header*/

.contenedor-lista {
    margin-left: 150px;
}

.titulo {
    font-size: 170px;
    color: rgba(245, 245, 220, 0.921);
    text-shadow: 3px 3px 6px rgba(160, 160, 160, 0.4), -2px -2px 4px rgba(85, 85, 85, 0.583);
    margin-top: -1050px;
}

.texto-portada {
    color: rgba(245, 245, 220, 0.983);
    text-shadow: 3px 3px 6px rgba(110, 110, 110, 0.736), -2px -2px 4px rgba(90, 90, 90, 0.651);
}

/*section1*/

.subtitulo {
    margin-top: 950px;
}

/*section2*/

.imagen-novedades-coleccion1 {
    width: 320px;
    height: 220px;
}

/*section3*/

.imagen-section3 {
    width: 900px;
    height: 600px;
    margin-top: 200px;
    margin-bottom: 350px;
}

.texto-novedades1 {
    font-size: 70px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4);
    margin-top: -700px;
    margin-left: 220px;
}

.texto-novedades2 {
    font-size: 70px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4);
    margin-top: -100px;
    margin-left: 1200px;
}

.imagen-moderno {
    text-decoration: none;
    color: inherit;
}

/*section4*/

.row-cols-1 {
    margin-top: 430px;
    margin-bottom: 40px;
    width: 1000px;
}

.col1 {
    margin-left: 100px;
}

.col2 {
    margin-left: 10px;
}

.col3 {
    margin-top: -640px;
    margin-left: 780px;
}

.col4 {
    margin-top: -642px;
    margin-left: 1115px;
}

.col5 {
    margin-top: -645px;
    margin-left: 1451px;
}

/*section5*/

.texto-medio {
    font-size: 90px;
    margin-top: 200px;
}

/*section6*/

.carousel {
    width: 1300px;
    height: 500px;
    margin-top: 230px;
    margin-left: 290px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(0, 0, 0, 0.4);
}

.carousel-control-prev, .carousel-control-next {
    margin-top: 500px;
}

/*footer*/

footer {
    width: 1852px;
    height: 300px;
    margin-top: 550px;
}

hr {
    margin-top: 50px;
}

.texto-footer {
    margin-top: 40px;
}

/* Estilos responsive para 1024px */
@media (max-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .bi-cloudy-fill {
        width: 70px;
        height: 70px;
    }

    /* Header */
    .contenedor-lista {
        margin-left: 20px;
        font-size: 20px;
    }

    .titulo {
        font-size: 100px;
        margin-top: -500px;
    }

    .texto-portada {
        font-size: 20px;
    }

    /* Section 1 */
    .subtitulo {
        margin-top: 400px;
        font-size: 32px;
    }

    /* Section 2 */
    .imagen-novedades-coleccion1 {
        width: 160px;
        height: 110px;
    }

    /* Section 3 */
    .imagen-section3 {
        width: 450px;
        height: 300px;
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .texto-novedades1 {
        font-size: 28px;
        margin-top: -200px;
        margin-left: 170px;
    }

    .texto-novedades2 {
        font-size: 28px;
        margin-top: -50px;
        margin-left: 700px;
    }

    /* Section 4 */
    .row-cols-1 {
        margin-top: 270px;
        margin-bottom: 20px;
        width: auto;
    }

    .col1, .col2, .col3, .col4, .col5 {
        width: 190px;
        height: 500px;
        margin-left: 15px;
        margin-top: 20px;
    }

    .card {
        width: 100%;
    }

    .ocultar {
        display: none;
    }

    .visible {
        display: none;
    }

    /* Section 5 */
    .texto-medio {
        font-size: 60px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    /* Section 6 */
    .carousel {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-left: 0;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 0;
    }

    /* Footer */
    footer {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    hr {
        margin-top: 10px;
    }

    .texto-footer {
        margin-top: 10px;
        font-size: 14px;
    }
}

/* Estilos responsive para 768px */
@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .bi-cloudy-fill {
        width: 60px;
        height: 60px;
        margin-top: -200px;
        margin-left: 600px;
    }

    /* Header */
    .titulo-header {
        font-size: 26px;
    }

    .contenedor-lista {
        margin-left: 0px;
        font-size: 18px;
    }

    .contenedor-lista1 {
        margin-left: 10px;
    }

    .contenedor-lista3 {
        margin-right: 230px;
    }

    .contenedor-lista4 {
        margin-top: -74px;
       margin-left: 630px;
    }

    .titulo {
        font-size: 90px;
        margin-top: -300px;
    }

    .texto-portada {
        font-size: 28px;
    }

    /* Section 1 */
    .subtitulo {
        margin-top: 200px;
        font-size: 30px;
    }

    /* Section 2 */
    .imagen-novedades-coleccion1 {
        width: 125px;
        height: 85px;
    }

    /* Section 3 */
    .imagen-section3 {
        width: 330px;
        height: 220px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .texto-novedades1 {
        font-size: 20px;
        margin-top: -150px;
        margin-left: 120px;
    }

    .texto-novedades2 {
        font-size: 20px;
        margin-top: -50px;
        margin-left: 520px;
    }

    /* Section 4 */

    .row-cols-1 {
        margin-top: 220px;
        margin-bottom: 10px;
        width: auto;
    }

    .col1, .col2 {
        width: 200px;
        height: 500px;
        margin-left: 45px;
        margin-top: 10px;
    }

    .col3 {
        width: 200px;
        height: 570px;
        margin-left: 40px;
    }

    .col4 {
        width: 200px;
        height: 500px;
        margin-left: 200px;
    }

    .col5 {
        width: 200px;
        height: 500px;
        margin-top: 20px;
    }

    .card {
        width: 100%;
    }

    .ocultar {
        display: none;
    }

    .visible {
        display: block;
    }

    /* Section 5 */
    .texto-medio {
        font-size: 50px;
        margin-top: 100px;
    }

    /* Section 6 */
    .carousel {
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 150px;
        margin-left: 0;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 0;
    }

    /* Footer */
    footer {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    hr {
        margin-top: 5px;
    }

    .texto-footer {
        margin-top: 5px;
        font-size: 12px;
    }
}

/* Estilos responsive para 375px */
@media (max-width: 375px) {
    .bi-cloudy-fill {
        width: 70px;
        height: 70px;
        margin-left: 180px;
    }

    /* Header */
    .titulo-header {
        font-size: 24px;
    }

    .contenedor-lista {
        margin-left: 0px;
        font-size: 16px;
    }

    .contenedor-lista1 {
        margin-left: -5px;
    }

    .contenedor-lista2 {
        margin-left: -30px;
    }

    .contenedor-lista3 {
        margin-right: 90px;
    }

    .contenedor-lista4 {
        margin-top: -75px;
       margin-left: 290px;
    }

    .titulo {
        font-size: 60px;
        margin-top: -200px;
        text-align: center;
    }

    .texto-portada {
        font-size: 14px;
        text-align: center;
    }

    /* Section 1 */
    .subtitulo {
        margin-top: 90px;
        font-size: 22px;
    }

    /* Section 2 */
    .novedades {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
    }

    .imagen-novedades-coleccion1 {
        width: 230px;
        height: 170px;
    }

    /* Section 3 */
    .contenedor-duo {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 80px;
    }

    .imagen-section3 {
        width: 340px;
        height: 250px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .texto-novedades1 {
        font-size: 30px;
        margin-top: -450px;
        margin-left: 80px;
    }

    .texto-novedades2 {
        font-size: 30px;
        margin-top: 250px;
        margin-left: 90px;
    }

    /* Section 4 */
    .row-cols-1 {
        margin-top: 5px;
        margin-bottom: 5px;
        width: auto;
    }

    .col1, .col2, .col3, .col4, .col5 {
        margin-left: 60px;
        margin-top: 200px;
        width: 250px;
        height: 540px;
    }

    .card {
        width: 100%;
    }

    /* Section 5 */
    .texto-medio {
        font-size: 25px;
        margin-top: 150px;
    }

    /* Section 6 */
    .carousel {
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 0;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: 0;
    }

    /* Footer */
    footer {
        width: 100%;
        height: auto;
        margin-top: 5px;
    }

    .row {
        font-size: 12px;
        margin-left: 5px;
    }

    hr {
        margin-top: 5px;
    }

    .texto-footer {
        margin-top: 5px;
        font-size: 14px;
    }
}

